form{
    padding: 2.4rem 1.7rem;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
form > button{
    width: 100%;
}
.label-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}
.label-box:nth-child(1n + 2){
    display: block;
    width: 40%;
}
.label-box:nth-child(2n + 2){
    margin-right: auto;
}
.input-value{
    position: relative;
}
.input-value > input{
    padding-left: 2.5rem;
}
.input-value::after{
    content: "R$";
    position: absolute;
    top: 20px;
    left: 14px;
    font-size: 1rem;
}