.slogan{
    width: 35%;
    display: flex;
    text-align: start;
    align-items: flex-start;
    flex-direction: column;
}
.slogan > h2, .slogan > img, .slogan > span{
    margin-bottom: calc(2rem - 2px);
}
button{
    color: #fff;
    font-size: var(--text-size-4);
    background-color: var(--primal-color);
    width: 70%;
    padding: calc(1rem - 2px);
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: var(--primal-color-2);
}
