#image1, #image2, #image3{
    display: none;
}

@media (min-width: 1200px) {
    .illustration{
        width: 652px;
        position: relative;
    }
    
    #image1{
        position: absolute;
        top: -35%;
        right: 3%;
        display: block;
    }
    
    #image2{
        position: absolute;
        z-index: 3;
        top: 39%;
        left: 12%;
        display: block;
    }
    #image3{
        position: absolute;
        z-index: 2;
        top: 67%;
        right: 20%;   
        display: block;
    }
}