#image1, #image2, #image3{
    display: none;
}

@media (min-width: 1200px) {
    .illustration{
        width: 652px;
        position: relative;
    }
    
    #image1{
        position: absolute;
        top: -50%;
        right: 3%;
        display: block;
        animation: ilustration-fade-slide-top 1s ease;
    }
    
    #image2{
        position: absolute;
        z-index: 3;
        top: 22%;
        left: 12%;
        display: block;
        animation: ilustration-fade-slide-rigt 1s ease;
    }
    #image3{
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 20%;   
        display: block;
        animation: ilustration-fade-slide-left 1s ease;
    }
    @keyframes ilustration-fade-slide-top {
        0%{
            top: -60%;
            opacity: 0;
        }
        100%{
            top: -50%;
            opacity: 1;
        }
    }

    @keyframes ilustration-fade-slide-left {
        0%{
            right: 9%;
            opacity: 0;
        }
        100%{
            right: 20%;
            opacity: 1;
        }
    }

    @keyframes ilustration-fade-slide-rigt {
        0%{
            left: 0;
            opacity: 0;
        }
        100%{
            left: 12%;
            opacity: 1;
        }
    }
}