.input-1{
    background-color: var(--grey-1);
    padding: calc(1rem - 2px);
    border-radius: 8px;
    margin: .7rem 0;
    width: 100%;
    transition: all .3s;
}
.input-1:focus, .select-1:focus{
    outline: 1px solid var(--grey-4);
}
.select-1{
    background-color: var(--grey-1);
    padding: calc(1rem - 2px);
    border-radius: 8px;
    margin: .7rem 0;
    width: 100%;
    transition: all .3s;
}