.title-1{
    font-size: var(--text-size-1);
    font-weight: var(--font-weight-bold);
    line-height: 48px;
    color: #fff;
}
.title-2{
    font-size: var(--text-size-2);
    font-weight: var(--font-weight-bold);
}
.title-3{
    font-size: var(--text-size-3);
    font-weight: var(--font-weight-bold);
}
.title-4{
    font-size: var(--text-size-5);
    font-weight: var(--font-weight-bold);
}

.text-1{
    font-size: var(--text-size-4);
    font-weight: var(--font-weigth-regular);
    color: #fff;
}
.text-2{
    font-size: var(--text-size-5);
    font-weight: var(--font-weigth-regular);
    color: var(--grey-3);
}